@model Programsko.Models.DOGADJAJ

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DOGADJAJ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KONTAKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KONTAKT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIP_DOGADJAJA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIP_DOGADJAJA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_DG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_DG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_DC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_DC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_DS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_DS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_OSTALO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_OSTALO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_IZVJESTAJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_IZVJESTAJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_AUTOMOBILI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_AUTOMOBILI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_SALON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_SALON)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_CATERING)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_CATERING)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
